<!doctype html>
<html ng-app="todoApp">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://use.edgefonts.net/vast-shadow:n4:all.js"></script>
    <script src="https://use.edgefonts.net/vast-shadow:n4:all;megrim.js"></script>
    <script src="MainController.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="main.css"> 
</head>
  <body>
  	<div ng-controller="TodoListController as todoList">
    	<ul class="nav nav-list nav-pills navigation-buttons">
        	<li ng-click="todoList.page()" ng-class="navClass('home')"><a href='todoIndex.html'>Todo List</a></li>
        	<li ng-click="todoList.page()" ng-class="navClass('calendar')"><a href='calendar.html'>Calendar</a></li>
        	<li ng-click="todoList.page()" ng-class="navClass('login')" onclick="alert('This Feature Will be coming soon!');"><a href='#'> Login</a> </li>
    	</ul>
	
      <span class="title">{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.clearAll()">Clear All</a> ] 
      [ <a href="" ng-click="todoList.deleteSelected()">Delete Selected</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>
